CuaHangDTDD/CuaHangDTDD/Service References/ServiceReferenceNhanVien/ServiceNhanVien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNhanVien" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49686/ServiceNhanVien.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49686/ServiceNhanVien.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49686/ServiceNhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNhanVien_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNhanVien">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/findAll" message="tns:IServiceNhanVien_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/findAllResponse" message="tns:IServiceNhanVien_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/find" message="tns:IServiceNhanVien_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/findResponse" message="tns:IServiceNhanVien_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/insert" message="tns:IServiceNhanVien_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/insertResponse" message="tns:IServiceNhanVien_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/delete" message="tns:IServiceNhanVien_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/deleteResponse" message="tns:IServiceNhanVien_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/update" message="tns:IServiceNhanVien_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/updateResponse" message="tns:IServiceNhanVien_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNhanVien" type="tns:IServiceNhanVien">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNhanVien">
    <wsdl:port name="BasicHttpBinding_IServiceNhanVien" binding="tns:BasicHttpBinding_IServiceNhanVien">
      <soap:address location="http://localhost:49686/ServiceNhanVien.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>