CuaHangDTDD/Winform/Service References/ServiceDonHang/ServiceDonHang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDonHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DonHang" nillable="true" type="tns:DonHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonHang" nillable="true" type="tns:ArrayOfDonHang" />
  <xs:complexType name="DonHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="dagiaohang" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kh_diachi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kh_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kh_sdt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kh_ten" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tongtien" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DonHang" nillable="true" type="tns:DonHang" />
</xs:schema>