CuaHangDTDD/CuaHangDTDD/Service References/ServiceReferenceHangSX/ServiceHangSX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHangSX">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HangSX" nillable="true" type="tns:HangSX" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHangSX" nillable="true" type="tns:ArrayOfHangSX" />
  <xs:complexType name="HangSX">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HangSX" nillable="true" type="tns:HangSX" />
</xs:schema>