CuaHangDTDD/CuaHangDTDD/Service References/ServiceReferenceTonKho/ServiceTonKho.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTonKhoe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TonKhoe" nillable="true" type="tns:TonKhoe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTonKhoe" nillable="true" type="tns:ArrayOfTonKhoe" />
  <xs:complexType name="TonKhoe">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="ngay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sanpham_chitiet_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="soluong" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TonKhoe" nillable="true" type="tns:TonKhoe" />
</xs:schema>